
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');


*{
    font-family: "Noto Sans", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: #201b2c;
     
}

.main-login{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.left-login{
    width: 50%;
   
    display: flex;
    flex-direction: column;
    align-items: center;
     
   
}

 
.right-login {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}



.card_login{
    width: 60%;
    display: flex;
    
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 60px 35px;
    background-color: #2f2841;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #00000056;
}

.left-login > h1{
    font-size: 2.5rem;
    color: #77ffc0;
    font-weight: 800;
    padding: 40px 0px 0px;
}

.left-login img{
    width: 80%;
   
}

.textfiel{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
     
}

.textfiel > label{
    color: #f0ffffde;
    margin-bottom: 10px;
}

.textfiel > input{
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    font-size: 12pt;
    background-color: #514869;
    color: #f0ffffde;
    box-shadow: 0px 10px 40px #00000056;
    outline: none;
}

.textfiel > input::placeholder{
    color: #f0ffff94;
}

.btn-login{
    width: 100%;
    padding: 16px 0;
    margin: 25px;
    border: none;
    border-radius: 8px;
    color: #514869;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    background-color: #77ffc0;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #00ff8052;
    transition: all 0.5s ease-in-out;
}

.btn-login:hover{
    transform: scale(1.05);
    background-color: #77ffc0c7;
}

@media (max-width: 950px){
    .card_login {
        width: 85%;
    }
}

@media (max-width: 600px){
    .main-login {
        width: 100vw;
        height: 100vh;
        flex-direction: column;
        
    }

    .left-login > h1{
        display: none;
    }

    .left-login{
        width: 100%;
        height:  auto;
    }
    .right-login{
        width: 100%;
       
    }

    .left-login > img{
        width: 70%;
    }

    .card_login{
        width: 90%;
        height: auto;
       
    }
}